<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ANDROID_CLIENT_ID</key>
	<string>804008888688-9nt22c34rameeavgg3r142cvgvas53vp.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAIXqkAoYFP-weaIiDsUR_kW1AoltWsIZY</string>
	<key>GCM_SENDER_ID</key>
	<string>804008888688</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.churchManagementClient</string>
	<key>PROJECT_ID</key>
	<string>church-management-cbf7d</string>
	<key>STORAGE_BUCKET</key>
	<string>church-management-cbf7d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:804008888688:ios:6d6e58313be087e77a67b5</string>
	<key>DATABASE_URL</key>
	<string>https://church-management-cbf7d-default-rtdb.firebaseio.com</string>
</dict>
</plist>